venv
node_modules
*.aux
*.glo
*.idx
*.log
*.toc
*.bcf
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.ptc
*.xwm
*.mtc1
*.out
*.out.ps
*.run.xml
*.synctex.gz
