language: node_js

node_js:
  - "0.12"

install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libzmq3-dev
  - cd src/shared/util && npm install && cd ../../..

env:
  - TEST_DIR=src/blockchain_handler
  - TEST_DIR=src/proxy
  - TEST_DIR=src/hosting_component

script: cd $TEST_DIR && npm install && npm test
